@inject LoggingHubService LoggingHub

<table class="log_table">
    @foreach (var log in LoggingHub.Logs)
    {
        @if (log.Level == LogEntry.LogLevel.Error)
        {
            <tr class="error">
                <td>
                    @log.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
                <td>
                    @log.Level.ToString()
                </td>
                <td>
                    @log.Source.ToString()
                </td>
                <td>
                    @log.Message
                </td>
            </tr>
        }
        else if (log.Level == LogEntry.LogLevel.Warning)
        {
            <tr class="warning">
                <td>
                    @log.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
                <td>
                    @log.Level.ToString()
                </td>
                <td>
                    @log.Source.ToString()
                </td>
                <td>
                    @log.Message
                </td>
            </tr>
        }
        else if (log.Level == LogEntry.LogLevel.Info)
        {
            <tr class="info">
                <td>
                    @log.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
                <td>
                    @log.Level.ToString()
                </td>
                <td>
                    @log.Source.ToString()
                </td>
                <td>
                    @log.Message
                </td>
            </tr>
        }
    }
</table>


@code {
    protected override async Task OnParametersSetAsync()
    {
        await LoggingHub.LoadInitialLogsAsync();
        LoggingHub.OnLogsUpdated += OnLogsChanged;
        await base.OnParametersSetAsync();
    }

    private async void OnLogsChanged()
    {
        await InvokeAsync(StateHasChanged);
    }
}
