@inject IMonitoringAPI MonitoringAPI
@inject IJSRuntime JSRuntime

@page "/monitoring/home"

<PageTitle>monitoring</PageTitle>

<article>
    <header>
        <button @onclick="@OnClickRefresh">
            <span title="Refresh monitoring data" class="material-icons">refresh</span>
        </button>
        @if (null != _polls)
        {
            <select @onchange="@((e) => OnSelectFilterIpChanged(e))">
                @foreach (var ip in Polls)
                {
                    <option value="@ip.ID">@IP.ConvertToString(ip.Address)</option>
                }
                <option value="@string.Empty"></option>
            </select>
            <select @onchange="OnViewLengthChanged" style="margin-left: 1rem;">
                <option value="00:10:00" selected="@(_viewLength == TimeSpan.FromMinutes(10))">Last 10 Minutes</option>
                <option value="04:00:00" selected="@(_viewLength == TimeSpan.FromHours(4))">Last 4 hours</option>
                <option value="12:00:00" selected="@(_viewLength == TimeSpan.FromHours(12))">Last 12 hours</option>
                <option value="24:00:00" selected="@(_viewLength == TimeSpan.FromHours(24))">Last 24 hours</option>
                <option value="72:00:00" selected="@(_viewLength == TimeSpan.FromDays(3))">Last 3 days</option>
            </select>
        }
    </header>
    <content>
        <div class="monitoring_layout">
            <StatsChart 
                @bind-IPAddresses="@_polls" 
                @bind-Visible="@_statsChartVisible" 
                @bind-ViewLength="@_viewLength"
                ExpandChanged="@OnClickExpandMonitoringWindow" />
            <Stats 
                @bind-IPAddresses="@_polls" 
                @bind-Visible="@_statsVisible" 
                @bind-ViewLength="@_viewLength"
                ExpandChanged="@OnClickExpandMonitoringWindow" />
            <UptimeChart 
                @bind-IPAddresses="@_polls" 
                @bind-Visible="@_uptimeChartVisible" 
                @bind-ViewLength="@_viewLength"
                ExpandChanged="@OnClickExpandMonitoringWindow" />
            <MonitorStates 
                @bind-IPAddresses="@_polls" 
                @bind-Visible="@_monitorStatesVisible" 
                @bind-ViewLength="@_viewLength"
                ExpandChanged="@OnClickExpandMonitoringWindow" 
                ViewClicked="@OnIpViewClicked" 
                EditClicked="@OnIpEditClicked" 
                HistoryClicked="@OnMonitorHistoryClicked"/>
        </div>
    </content>
</article>

@if (null != _viewIp)
{
    <IpView @bind-IpViewVisible="@_ipViewVisible" IpAddress="@_viewIp" EditClicked="@OnIpEditClicked" />
}
@if (null != _editIp)
{
    <IpEditor @bind-EditorVisible="@_ipEditorVisible" IpAddress="@_editIp"/>
}
@if (_viewHistory.Count > 0)
{
    <MonitorStatesHistory @bind-MonitorHistoryVisible="@_monitorHistoryVisible" MonitorStates="@_viewHistory" ViewClicked="@OnIpViewClicked"/>
}

@code {
    List<IP> Polls = new();
    List<IP> _polls = new();

    private bool _ipViewVisible = false;
    private bool _ipEditorVisible = false;
    private bool _monitorHistoryVisible = false;

    private bool _statsChartVisible = true;
    private bool _statsVisible = true;
    private bool _uptimeChartVisible = true;
    private bool _monitorStatesVisible = true;

    private TimeSpan _viewLength = TimeSpan.FromHours(24);

    private IP? _viewIp;
    private IP? _editIp;
    private IP? _filterIp;
    private List<MonitorState> _viewHistory = [];

    protected override async Task OnInitializedAsync()
    {
        Polls = await MonitoringAPI.GetAllPollsAsync();
        _polls = MonitorState.GetMonitorStatesFromTimespan(Polls, _viewLength);
        await base.OnInitializedAsync();
        StateHasChanged();
    }

    private void OnIpEditClicked(IP ip)
    {
        _editIp = ip;
        _ipViewVisible = false;
        _ipEditorVisible = true;
        _monitorHistoryVisible = false;
    }

    private void OnIpViewClicked(IP ip)
    {
        _viewIp = ip;
        _ipViewVisible = true;
        _ipEditorVisible = false;
        _monitorHistoryVisible = false;
    }

    private void OnMonitorHistoryClicked(IP ip)
    {
        var list = new List<IP>();
        list.Add(ip);
        _viewHistory = MonitorState.GetAllDevicePollsFromIps(list);

        _ipViewVisible = false;
        _ipEditorVisible = false;
        _monitorHistoryVisible = true;
    }

    private async void OnClickRefresh()
    {
        await OnInitializedAsync();
    }

    private async void OnSelectFilterIpChanged(ChangeEventArgs e)
    {
        var selectedValue = e.Value?.ToString();

        if (!string.IsNullOrEmpty(selectedValue))
        {
            var selectedIp = MonitorState.GetMonitorStatesFromTimespan(Polls, _viewLength).Where(x => x.ID.ToString() == selectedValue).FirstOrDefault();

            if (selectedIp != null)
            {
                _filterIp = selectedIp;
                _polls = new List<IP> { selectedIp };
                StateHasChanged();
            }
        }
        else
        {
            await OnInitializedAsync();
        }
    }

    private void OnClickExpandMonitoringWindow(string source)
    {
        switch (source)
        {
            case "statschart":
                _statsChartVisible = true;    
                _monitorStatesVisible = false;
                _uptimeChartVisible = false;
                _statsVisible = false;

                break;
            case "stats":
                _statsChartVisible = false;
                _monitorStatesVisible = false;
                _uptimeChartVisible = false;
                _statsVisible = true;

                break;
            case "uptimechart":
                _statsChartVisible = false;
                _monitorStatesVisible = false;
                _uptimeChartVisible = true;
                _statsVisible = false;

                break;
            case "monitorstates":
                _statsChartVisible = false;
                _monitorStatesVisible = true;
                _uptimeChartVisible = false;
                _statsVisible = false;

                break;
            case "undo":
                _statsChartVisible = true;
                _monitorStatesVisible = true;
                _uptimeChartVisible = true;
                _statsVisible = true;

                break;
        }
    }

    private async Task OnViewLengthChanged(ChangeEventArgs e)
    {
        if (TimeSpan.TryParse(e.Value?.ToString(), out var newSpan))
        {
            _polls = MonitorState.GetMonitorStatesFromTimespan(Polls, newSpan);
            _viewLength = newSpan;
            StateHasChanged();
        }
    }
}