@inject IMonitorStatesAPI MonitorStatesAPI
@inject IJSRuntime JSRuntime

@attribute [Authorize] 
@page "/monitoring/home"

<PageTitle>monitoring</PageTitle>

<article>
    <header>
        <button @onclick="@OnClickRefresh">
            <span title="Refresh monitoring data" class="material-icons">refresh</span>
        </button>
        @if (null != _polls)
        {
            <select @onchange="@((e) => OnSelectFilterIpChanged(e))">
                @foreach (var target in Polls)
                {
                    @if (target is DnsMonitoringTarget dns)
                    {
                        <option value="@dns.Id">@dns.Address</option>
                    }
                    else if (target is IpMonitoringTarget ip)
                    {
                        <option value="@ip.Id">@IpMonitoringTarget.ConvertToString(ip.Address)</option>
                    }
                }
                <option value="@string.Empty"></option>
            </select>
            <select @onchange="OnViewLengthChanged" style="margin-left: 1rem;">
                <option value="00:10:00" selected="@(_viewLength == TimeSpan.FromMinutes(10))">Last 10 Minutes</option>
                <option value="04:00:00" selected="@(_viewLength == TimeSpan.FromHours(4))">Last 4 hours</option>
                <option value="12:00:00" selected="@(_viewLength == TimeSpan.FromHours(12))">Last 12 hours</option>
                <option value="24:00:00" selected="@(_viewLength == TimeSpan.FromHours(24))">Last 24 hours</option>
                <option value="72:00:00" selected="@(_viewLength == TimeSpan.FromDays(3))">Last 3 days</option>
            </select>
        }
    </header>
    <content>
        <div class="monitoring_layout">
            <StatsChart 
                @bind-MonitoringTargets="@_polls" 
                @bind-Visible="@_statsChartVisible" 
                @bind-ViewLength="@_viewLength"
                ExpandChanged="@OnClickExpandMonitoringWindow" />
            <Stats 
                @bind-MonitoringTargets="@_polls" 
                @bind-Visible="@_statsVisible" 
                @bind-ViewLength="@_viewLength"
                ExpandChanged="@OnClickExpandMonitoringWindow" />
            <UptimeChart 
                @bind-MonitoringTargets="@_polls" 
                @bind-Visible="@_uptimeChartVisible" 
                @bind-ViewLength="@_viewLength"
                ExpandChanged="@OnClickExpandMonitoringWindow" />
            <MonitorStates 
                @bind-MonitoringTargets="@_polls" 
                @bind-Visible="@_monitorStatesVisible" 
                @bind-ViewLength="@_viewLength"
                ExpandChanged="@OnClickExpandMonitoringWindow" 
                ViewClicked="@OnTargetViewClicked" 
                EditClicked="@OnTargetEditClicked" 
                HistoryClicked="@OnMonitorHistoryClicked"/>
        </div>
    </content>
</article>

@if (null != _viewTarget)
{
    <MonitoringTargetView @bind-Visible="@_ipViewVisible" MonitoringTarget="@_viewTarget" EditClicked="@OnTargetEditClicked"/>
}
@if (null != _editTarget)
{
    <MonitoringTargetEditor @bind-EditorVisible="@_ipEditorVisible" MonitoringTarget="@_editTarget"/>
}
@if (_viewHistory.Count > 0)
{
    <MonitorStatesHistory @bind-MonitorHistoryVisible="@_monitorHistoryVisible" 
    MonitorStates="@_viewHistory" ViewClicked="@OnTargetViewClicked"/>
}

@code {
    List<BaseMonitoringTarget> Polls = new();
    List<BaseMonitoringTarget> _polls = new();

    private bool _ipViewVisible = false;
    private bool _ipEditorVisible = false;
    private bool _monitorHistoryVisible = false;

    private bool _statsChartVisible = true;
    private bool _statsVisible = true;
    private bool _uptimeChartVisible = true;
    private bool _monitorStatesVisible = true;

    private TimeSpan _viewLength = TimeSpan.FromHours(24);

    private BaseMonitoringTarget? _viewTarget;
    private BaseMonitoringTarget? _editTarget;
    private BaseMonitoringTarget? _filterTarget;
    private List<BaseMonitorState> _viewHistory = [];

    protected override async Task OnInitializedAsync()
    {
        Polls = [];
        Polls.AddRange(await MonitorStatesAPI.GetMonitoredIpAndStatusAsync());
        Polls.AddRange(await MonitorStatesAPI.GetMonitoredDnsAndStatusAsync());

        _polls = BaseMonitorState.GetMonitorStatesFromTimespan(Polls, _viewLength);
        await base.OnInitializedAsync();
        StateHasChanged();
    }

    private void OnTargetEditClicked(BaseMonitoringTarget target)
    {
        _editTarget = target;
        _ipViewVisible = false;
        _ipEditorVisible = true;
        _monitorHistoryVisible = false;
    }

    private void OnTargetViewClicked(BaseMonitoringTarget target)
    {
        _viewTarget = target;
        _ipViewVisible = true;
        _ipEditorVisible = false;
        _monitorHistoryVisible = false;
    }

    private void OnMonitorHistoryClicked(BaseMonitoringTarget target)
    {
        _viewHistory = [];
        _viewHistory.AddRange(PortState.GetAllMonitorStatesFromMonitoringTarget(target));
        _viewHistory.AddRange(PingState.GetAllMonitorStatesFromMonitoringTarget(target));

        _ipViewVisible = false;
        _ipEditorVisible = false;
        _monitorHistoryVisible = true;
    }

    private async void OnClickRefresh()
    {
        await OnInitializedAsync();
    }

    private async void OnSelectFilterIpChanged(ChangeEventArgs e)
    {
        var selectedValue = e.Value?.ToString();

        if (!string.IsNullOrEmpty(selectedValue))
        {
            var target = BaseMonitorState.GetMonitorStatesFromTimespan(Polls, _viewLength).Where(x => x.Id.ToString() == selectedValue).FirstOrDefault();

            if (target != null)
            {
                _filterTarget = target;
                _polls = new List<BaseMonitoringTarget> { target };
                StateHasChanged();
            }
        }
        else
        {
            await OnInitializedAsync();
        }
    }

    private void OnClickExpandMonitoringWindow(string source)
    {
        switch (source)
        {
            case "statschart":
                _statsChartVisible = true;    
                _monitorStatesVisible = false;
                _uptimeChartVisible = false;
                _statsVisible = false;

                break;
            case "stats":
                _statsChartVisible = false;
                _monitorStatesVisible = false;
                _uptimeChartVisible = false;
                _statsVisible = true;

                break;
            case "uptimechart":
                _statsChartVisible = false;
                _monitorStatesVisible = false;
                _uptimeChartVisible = true;
                _statsVisible = false;

                break;
            case "monitorstates":
                _statsChartVisible = false;
                _monitorStatesVisible = true;
                _uptimeChartVisible = false;
                _statsVisible = false;

                break;
            case "undo":
                _statsChartVisible = true;
                _monitorStatesVisible = true;
                _uptimeChartVisible = true;
                _statsVisible = true;

                break;
        }
    }

    private async Task OnViewLengthChanged(ChangeEventArgs e)
    {
        if (TimeSpan.TryParse(e.Value?.ToString(), out var newSpan))
        {
            _polls = BaseMonitorState.GetMonitorStatesFromTimespan(Polls, newSpan);
            _viewLength = newSpan;
            StateHasChanged();
        }
    }
}