@using System.Collections
@using System.Net
@using System.Text.RegularExpressions
@using System.Threading.Tasks
@using NetTools
@using DashLib.Interfaces
@using web.Client.Services
@using System.Text.Json

@inject IMonitorTargetAPI MonitorTargetService
@inject IJSRuntime JSRuntime

@page "/targets/home"

<PageTitle>subnet trackr</PageTitle>

<InputFile OnChange="@OnClickUpload" id="upload" style="overflow: hidden; width: 0; height: 0;" accept="*.png" />

<article>
    <header>
        <button onclick="@OnClickNew">
            <span class="material-icons">add</span>
        </button>
        @if (_advancedViewEnabled)
        {
            <button id="green" onclick="@OnClickAdvancedToggle">
                <span class="material-icons">visibility</span>
            </button>
        }
        else
        {
            <button id="red" onclick="@OnClickAdvancedToggle">
                <span class="material-icons">visibility</span>
            </button>
        }
        <button @onclick="@OnInitializedAsync">
            <span class="material-icons">refresh</span>
        </button>
        <span>
            <button @onclick="@OnClickUploadButton">
                <span title="Upload subnet export" class="material-icons">upload</span>
            </button>
            <button @onclick="@OnClickSave">
                <span title="Download subnet export" class="material-icons">download</span>
            </button>
        </span>
    </header>
    <content class="subnet_layout">
        <table>
            <tr>
                <th>
                    Subnet Address
                </th>
                <th>
                    Start Address
                </th>
                <th>
                    End Address
                </th>
                <th>
                    IP Search
                </th>
                <th/>
            </tr>
            @foreach (var container in _containers)
            {
                <MonitoringTargetContainerRow 
                    MonitoringTargetContainer="container" 
                    OnEditTarget="@OnClickEditTarget"
                    OnDeleteClicked="@OnDeleteClicked" 
                    OnDeleteTarget="@OnDeleteClicked" 
                    @bind-AdvancedViewEnabled="@_advancedViewEnabled"/>
            }
        </table>
    </content>
</article>

@if (null != _editingContainer)
{
    <MonitoringTargetContainerEditor 
        @bind-EditorVisible="@_containerEditorVisible" 
        MonitoringTargetContainer="_editingContainer"
        @bind-IsNewContainer="@_isNewContainer" 
        ContainerSaved="@OnContainerSaved"/>
}

@if (null != _editingTarget)
{
    <MonitoringTargetEditor 
        @bind-EditorVisible="@_targetEditorVisible"
        MonitoringTarget="@_editingTarget"/>
}
)

@code {
    private List<BaseMonitoringTargetContainer> _containers = [];
    private bool _containerEditorVisible = false;
    private bool _targetEditorVisible = false;
    private bool _isNewContainer = false;
    private bool _advancedViewEnabled = true;

    private BaseMonitoringTargetContainer? _editingContainer = null;
    private BaseMonitoringTarget? _editingTarget = null;

    async protected override Task OnInitializedAsync()
    {
        _containers = [];
        _containers.AddRange(await MonitorTargetService.GetAllDnsContainersAsync());
        _containers.AddRange(await MonitorTargetService.GetAllSubnetContainersAsync());

        await base.OnInitializedAsync();
        StateHasChanged();
    }

    private void OnClickEditContainer(BaseMonitoringTargetContainer container)
    {
        _editingContainer = container;
        _isNewContainer = false;
        _containerEditorVisible = true;
    }

    private void OnClickEditTarget(BaseMonitoringTarget target)
    {
        _editingTarget = target;
        _targetEditorVisible = true;
    }

    private void OnClickNew()
    {
        _isNewContainer = true;
        _editingContainer = new SubnetContainer("192.168.0.1/24");
        _containerEditorVisible = true;
        StateHasChanged();
    }

    private void OnClickAdvancedToggle()
    {
        _advancedViewEnabled = !_advancedViewEnabled;
    }

    private async void OnContainerSaved(BaseMonitoringTargetContainer container)
    {
        await Task.Delay(100);
        await OnInitializedAsync();
    }

    private async void OnDeleteClicked(bool clicked)
    {
        if (clicked)
        {
            await Task.Delay(100);
            await OnInitializedAsync();
        }
    }

    async void OnClickSave()
    {
        if (null != _containers && _containers.Count > 0)
        {
            await File.SaveAs(JSRuntime, "subnets.json", JsonSerializer.Serialize(_containers, AllSettings.JsonOptions));
        }
    }

    async void OnClickUpload(InputFileChangeEventArgs eventArgs)
    {
        return;

        var str = await File.InputFileToString(eventArgs);
        var items = JsonSerializer.Deserialize<List<SubnetContainer>>(str, AllSettings.JsonOptions);

        if (null != items && items.Count > 0)
        {
            //await SubnetService.ReplaceAllSubnetsAsync(items);
            await OnInitializedAsync();
        }
    }

    async void OnClickUploadButton()
    {
        await JSRuntime.InvokeVoidAsync("clickUpload");
    }
}