@inject IDashAPI DashboardService
@inject IJSRuntime JSRuntime

@page "/"
@using DashLib.Dashboard
@using DashLib.Interfaces

<PageTitle>dashboard</PageTitle>

@if (!_isEditorHidden)
{
    <div class="faded_background">
        @if (null == Directories)
        {
            <DashboardCardEditor Item="@_currentEditingItem" IsNewItem="@_isNewItem" @bind-Hidden="@_isEditorHidden" EditorClosed="@ClosedEditor"/>
        }
        else
        {
            <DashboardCardEditor Item="@_currentEditingItem" IsNewItem="@_isNewItem" @bind-Hidden="@_isEditorHidden" Directories="Directories" EditorClosed="@ClosedEditor" />
        }
    </div>
}

<article>
    <header>
        <button @onclick="@(() => OnClickAdd())">
            <span class="material-icons">add</span>
        </button>
        <button @onclick="@(() => OnInitializedAsync())">
            <span class="material-icons">refresh</span>
        </button>
    </header>
    <content>
        <div class="dashboard_layout">
            @if (null != _dashboardItems)
            {
                foreach (DashboardItemBase item in _dashboardItems)
                {
                    @if (item is ShortcutItem shortcut)
                    {
                        if (null == shortcut.Parent)
                        {
                            if (null == Directories)
                            {
                                <DashboardCard Item="@item" OnEditClick="@OpenEditor" />
                            }
                            else
                            {
                                <DashboardCard Item="@item" Directories="Directories" OnEditClick="@OpenEditor" />
                            }
                        } 
                    }
                    else
                    {
                        if (null == Directories)
                        {
                            <DashboardCard Item="@item" OnEditClick="@OpenEditor" />
                        }
                        else
                        {
                            <DashboardCard Item="@item" Directories="Directories" OnEditClick="@OpenEditor" />
                        }
                    }
                }
            }
            else
            {
                @* <RadzenProgressBarCircular Mode="ProgressBarMode.Indeterminate" /> *@
            }
        </div>
    </content>
    <footer>

    </footer>
</article>

@code {
    List<DashboardItemBase>? _dashboardItems;
    public List<DirectoryItem>? Directories;
    private bool _isEditorHidden = true;
    private bool _isNewItem = false;
    private DashboardItemBase? _currentEditingItem;

    private ShortcutItem? _newShortcut = new ShortcutItem()
    {
        Id = Guid.NewGuid(),
        DisplayName = "New Item",
        Description = "Description",
        Url = "https://example.com",
        Icon = null
    };

    async protected override Task OnInitializedAsync()
    {
        _dashboardItems = await DashboardService.GetAllItemsAsync();
        List<DirectoryItem> list = _dashboardItems.OfType<DirectoryItem>().ToList();

        if (list.Count > 0)
        {
            Directories = list;
        }

        StateHasChanged();

        await base.OnInitializedAsync();
    }

    ShortcutItem GenerateEmptyShortcut()
    {
        return new ShortcutItem()
        {
            Id = Guid.NewGuid(),
            DisplayName = "New Item",
            Description = "Description",
            Url = "https://example.com",
            Icon = null
        };
    }

    void OnClickAdd() 
    {
        if (_isEditorHidden == false)
        {
            _isEditorHidden = true;
            return;
        };

        _currentEditingItem = GenerateEmptyShortcut();
        _isNewItem = true;
        _isEditorHidden = false;

        StateHasChanged();
    }

    void OpenEditor(DashboardItemBase item)
    {
        _currentEditingItem = item;
        _isNewItem = false;
        _isEditorHidden = false;
        StateHasChanged();
    }

    async void ClosedEditor(bool stateChanged)
    {
        if (stateChanged)
        {
            await OnInitializedAsync();
        }
    }
}
