@if (IsVisible)
{
    <div class="settings_card">
        <header>
            <h3>Alert Settings</h3>
        </header>
        <content>
            <table>
                <tr>
                    <td>
                        Alert Service Polling Interval (Seconds):
                    </td>
                    <td>
                        <input type="number" @bind="@_currentSettings.AlertIntervalInSeconds" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Alert Repeat Time (Minutes):
                    </td>
                    <td>
                        <input type="number" @bind="@_currentSettings.AlertAgainAfterInMinutes" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Percentage Over Time Threshold:
                    </td>
                    <td>
                        <input type="number" @bind="@_currentSettings.AlertIfDownForPercent" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Alert Evaluation Period (Minutes):
                    </td>
                    <td>
                        <input type="number" @bind="@_currentSettings.AlertTimePeriodInMinutes" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3>Alerts</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        Icmp Down Over Time:
                    </td>
                    <td>
                        <Switch @bind-ToggleIsOn="@_currentSettings.IcmpDownPercentAlertsEnabled" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Icmp Down Once:
                    </td>
                    <td>
                        <Switch @bind-ToggleIsOn="@_currentSettings.IcmpDownOnceAlertsEnabled"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Tcp Down Over Time:
                    </td>
                    <td>
                        <Switch @bind-ToggleIsOn="@_currentSettings.TcpDownPercentAlertsEnabled"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Tcp Down Once:
                    </td>
                    <td>
                        <Switch @bind-ToggleIsOn="@_currentSettings.TcpDownOnceAlertsEnabled"/>
                    </td>
                </tr>
            </table>
        </content>
    </div>
}

@code {
    [Parameter] required public AlertSettings CurrentSettings { get; set; }
    private AlertSettings _currentSettings = new AlertSettings(true); 

    [Parameter] public bool IsVisible { get; set; } = true;
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }

    protected override void OnParametersSet()
    {
        if (CurrentSettings != _currentSettings)
        {
            _currentSettings = CurrentSettings;
        }
        base.OnParametersSet();
    }
}
