@inject ISettingsAPI SettingsService
@inject IMailAPI MailService
@inject IJSRuntime JSRuntime

@page "/settings/home"
@using DashLib.Interfaces
@using System.Text.Json

<PageTitle>settings</PageTitle>

<InputFile OnChange="@OnClickUpload" id="upload" style="overflow: hidden; width: 0; height: 0;" accept="*.png" />

<article>
    <header>
        <button onclick="@OnClickSave">
            <span class="material-icons">save</span>
        </button>
        <span>
            <button @onclick="@OnClickUploadButton">
                <span title="Upload settings export" class="material-icons">upload</span>
            </button>
            <button @onclick="@OnClickDownloadButton">
                <span title="Download settings export" class="material-icons">download</span>
            </button>
        </span>
    </header>
    <content class="settings_layout">
        <div>
            <header>
                <span>
                    Monitoring Settings
                </span>
            </header>
            <content>
                @if (null != _currentSettings && null != _currentSettings.MonitoringSettings)
                {
                    <table>
                        <tr>
                            <td>
                                Polling Interval (Seconds):
                            </td>
                            <td>
                                <input type="number" @bind="@_currentSettings.MonitoringSettings.PollingIntervalInSeconds"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Alert Service Polling Interval (Seconds):
                            </td>
                            <td>
                                <input type="number" @bind="@_currentSettings.MonitoringSettings.AlertIntervalInSeconds"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Enable Downtime Alerts:
                            </td>
                            <td>
                                <Switch @bind-ToggleIsOn="@_currentSettings.MonitoringSettings.AlertsEnabled" />
                            </td>
                        </tr>
                        @if (_currentSettings.MonitoringSettings.AlertsEnabled)
                        {
                            <tr>
                                <td>
                                    Alert Percentage Threshold:
                                </td>
                                <td>
                                    <input type="number" @bind="@_currentSettings.MonitoringSettings.AlertIfDownForPercent"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Alert Evaluation Period (Minutes):
                                </td>
                                <td>
                                    <input type="number" @bind="@_currentSettings.MonitoringSettings.AlertTimePeriodInMinutes"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Email Repeat Time (Minutes):
                                </td>
                                <td>
                                    <input type="number" @bind="@_currentSettings.MonitoringSettings.AlertAgainAfterInMinutes"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    SMTP Server Address:
                                </td>
                                <td>
                                    <input type="text" @bind="@_currentSettings.MonitoringSettings.SmtpServerAddress"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    SMTP Port:
                                </td>
                                <td>
                                    <input type="number" @bind="@_currentSettings.MonitoringSettings.SmtpPort" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    SMTP Send To:
                                </td>
                                <td>
                                    <input type="text" @bind="@_currentSettings.MonitoringSettings.SmtpTargetEmail" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    SMTP Use Auth:
                                </td>
                                <td>
                                    <Switch @bind-ToggleIsOn="@_currentSettings.MonitoringSettings.SmtpAuthenticationIsRequired" />
                                </td>
                            </tr>
                            @if (_currentSettings.MonitoringSettings.SmtpAuthenticationIsRequired)
                            {
                                <tr>
                                    <td>
                                        SMTP Username:
                                    </td>
                                    <td>
                                        <input type="text" @bind="@_currentSettings.MonitoringSettings.SmtpUsername" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        SMTP Password:
                                    </td>
                                    <td>
                                        <input type="text" @bind="@_currentSettings.MonitoringSettings.SmtpPassword" />
                                    </td>
                                </tr>
                            }

                            <tr>
                                <td>
                                    Send Test Email:
                                </td>
                                <td>
                                    <button @onclick="@OnClickSendTestEmail">
                                        <span class="material-symbols-outlined">send</span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                }

            </content>
        </div>

        <div>
            <header>
                <span>
                    Dashboard Settings
                </span>
            </header>
            <content>
                @if (null != _currentSettings && null != _currentSettings.DashboardSettings)
                {
                    <table>
                    </table>
                }

            </content>
        </div>

        <div>
            <header>
                <span>
                    Subnets Settings
                </span>
            </header>
            <content>
                @if (null != _currentSettings && null != _currentSettings.SubnetSettings)
                {
                    <table>
                    </table>
                }

            </content>
        </div>

        <div>
            <header>
                <span>
                    Other Settings
                </span>
            </header>
            <content>
                <table>
                    <tr>
                        <td>
                            Open Swagger UI (API Explorer):
                        </td>
                        <td>
                            <a href="/swagger">
                                <button>
                                    <span class="material-symbols-outlined">open_in_browser</span>
                                </button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Reset Settings to Default:
                        </td>
                        <td>
                            <button @onclick="@OnCLickResetToDefault">
                                <span class="material-icons">replay</span>
                            </button>
                        </td>

                    </tr>
                </table>
            </content>
        </div>
    </content>
    <footer>

    </footer>
</article>

@code {
    private AllSettings? _currentSettings;

    protected override async Task OnInitializedAsync()
    {
        _currentSettings = await SettingsService.GetCurrentSettingsAsync();
        await base.OnInitializedAsync();
    }

    private async void OnClickSave()
    {
        if (null != _currentSettings)
        {
            await SettingsService.CreateNewSettingsAsync(_currentSettings);
            await RefreshSettings();
        }
    }

    private async void OnClickSendTestEmail()
    {
        await MailService.SendTestEmailAsync();
    }

    private async void OnClickDownloadButton()
    {
        if (null != _currentSettings)
        {
            await File.SaveAs(JSRuntime, "settings.json", JsonSerializer.Serialize(_currentSettings, AllSettings.JsonOptions));
        }
    }

    private async void OnClickUpload(InputFileChangeEventArgs eventArgs)
    {
        var str = await File.InputFileToString(eventArgs);
        var items = JsonSerializer.Deserialize<AllSettings>(str, AllSettings.JsonOptions);

        if (null != items)
        {
            await SettingsService.CreateNewSettingsAsync(items);
            await RefreshSettings();
        }
    }

    private async void OnClickUploadButton()
    {
        await JSRuntime.InvokeVoidAsync("clickUpload");
    }

    private async void OnCLickResetToDefault()
    {
        var settings = new AllSettings(true);

        await SettingsService.CreateNewSettingsAsync(settings);
        await RefreshSettings();
    }

    private async Task RefreshSettings()
    {
        await Task.Delay(100);
        _currentSettings = await SettingsService.GetCurrentSettingsAsync();
        StateHasChanged();
    }
}
