@inject ISettingsAPI SettingsService
@inject IMailAPI MailService

@page "/settings/home"
@using DashLib.Interfaces

<PageTitle>settings</PageTitle>
<article>
    <header>
        <button onclick="@OnClickSave">
            <span class="material-icons">save</span>
        </button>
    </header>
    <content class="settings_layout">
        <div>
            <header>
                <span>
                    Monitoring Settings
                </span>
            </header>
            <content>
                @if (null != _currentSettings && null != _currentSettings.MonitoringSettings)
                {
                    <table>
                        <tr>
                            <td>
                                Polling Interval (Seconds):
                            </td>
                            <td>
                                <input type="number" @bind="@_currentSettings.MonitoringSettings.PollingIntervalInSeconds"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Alert Service Polling Interval (Seconds):
                            </td>
                            <td>
                                <input type="number" @bind="@_currentSettings.MonitoringSettings.AlertIntervalInSeconds"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Enable Downtime Alerts:
                            </td>
                            <td>
                                <Switch @bind-ToggleIsOn="@_currentSettings.MonitoringSettings.AlertsEnabled" />
                            </td>
                        </tr>
                        @if (_currentSettings.MonitoringSettings.AlertsEnabled)
                        {
                            <tr>
                                <td>
                                    Alert Percentage Threshold:
                                </td>
                                <td>
                                    <input type="number" @bind="@_currentSettings.MonitoringSettings.AlertIfDownForPercent"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Alert Evaluation Period (Minutes):
                                </td>
                                <td>
                                    <input type="number" @bind="@_currentSettings.MonitoringSettings.AlertTimePeriodInMinutes"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Email Repeat Time (Minutes):
                                </td>
                                <td>
                                    <input type="number" @bind="@_currentSettings.MonitoringSettings.AlertAgainAfterInMinutes"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    SMTP Server Address:
                                </td>
                                <td>
                                    <input type="text" @bind="@_currentSettings.MonitoringSettings.SmtpServerAddress"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    SMTP Port:
                                </td>
                                <td>
                                    <input type="number" @bind="@_currentSettings.MonitoringSettings.SmtpPort" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    SMTP Send To:
                                </td>
                                <td>
                                    <input type="text" @bind="@_currentSettings.MonitoringSettings.SmtpTargetEmail" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    SMTP Use Auth:
                                </td>
                                <td>
                                    <Switch @bind-ToggleIsOn="@_currentSettings.MonitoringSettings.SmtpAuthenticationIsRequired" />
                                </td>
                            </tr>
                            @if (_currentSettings.MonitoringSettings.SmtpAuthenticationIsRequired)
                            {
                                <tr>
                                    <td>
                                        SMTP Username:
                                    </td>
                                    <td>
                                        <input type="text" @bind="@_currentSettings.MonitoringSettings.SmtpUsername" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        SMTP Password:
                                    </td>
                                    <td>
                                        <input type="text" @bind="@_currentSettings.MonitoringSettings.SmtpPassword" />
                                    </td>
                                </tr>
                            }

                            <tr>
                                <td>
                                    Send Test Email:
                                </td>
                                <td>
                                    <button @onclick="@OnClickSendTestEmail">
                                        <span class="material-symbols-outlined">send</span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                }

            </content>
        </div>

        <div>
            <header>
                <span>
                    Dashboard Settings
                </span>
            </header>
            <content>
                @if (null != _currentSettings && null != _currentSettings.DashboardSettings)
                {
                    <table>
                    </table>
                }

            </content>
        </div>

        <div>
            <header>
                <span>
                    Subnets Settings
                </span>
            </header>
            <content>
                @if (null != _currentSettings && null != _currentSettings.SubnetSettings)
                {
                    <table>
                    </table>
                }

            </content>
        </div>

        <div>
            <header>
                <span>
                    Other Settings
                </span>
            </header>
            <content>
                <table>
                    <tr>
                        <td>
                            <a href="/swagger">
                                <button>
                                    <span class="material-symbols-outlined">open_in_browser</span>
                                </button>
                            </a>
                        </td>
                        <td>
                            Open Swagger UI (API Explorer)
                        </td>
                    </tr>
                </table>
            </content>
        </div>
    </content>
    <footer>

    </footer>
</article>

@code {
    private AllSettings? _currentSettings;

    protected override async Task OnInitializedAsync()
    {
        _currentSettings = await SettingsService.GetCurrentSettingsAsync();
        await base.OnInitializedAsync();
    }

    private async void OnClickSave()
    {
        if (null != _currentSettings)
        {
            await SettingsService.CreateNewSettingsAsync(_currentSettings);
            await Task.Delay(100);
            _currentSettings = await SettingsService.GetCurrentSettingsAsync();
            StateHasChanged();
        }
    }

    private async void OnClickSendTestEmail()
    {
        await MailService.SendTestEmailAsync();
    }
}
