@using System.Collections
@using System.Net
@using System.Text.RegularExpressions
@using System.Threading.Tasks
@using NetTools
@using danklibrary.Interfaces
@using web.Client.Services

@inject ISubnetsAPI SubnetService
@inject IJSRuntime JSRuntime

@page "/subtrackr/home"

<PageTitle>subnet trackr</PageTitle>

<article>
    <header>
        <button onclick="@OnClickNewSubnet">
            <span class="material-icons">add</span>
        </button>
        @if (_advancedViewEnabled)
        {
            <button id="green" onclick="@OnClickAdvancedToggle">
                <span class="material-icons">visibility</span>
            </button>
        }
        else
        {
            <button id="red" onclick="@OnClickAdvancedToggle">
                <span class="material-icons">visibility</span>
            </button>
        }

        @*filter controls here*@
    </header>
    <content class="subnet_layout">
        <table>
            <tr>
                <th>
                    Subnet Address
                </th>
                <th>
                    Start Address
                </th>
                <th>
                    End Address
                </th>
                <th>
                    IP Search
                </th>
                <th/>
            </tr>
            @foreach (Subnet subnet in SubnetList)
            {
                <SubnetCard Subnet="subnet" OnEditIp="@OnClickEditIP" OnEditSubnet="@OnClickEditSubnet" @bind-AdvancedViewEnabled="@_advancedViewEnabled" OnDeleteClicked="@OnDeleteSubnetClicked"/>
            }
        </table>
    </content>
</article>

@if (null != _editingSubnet)
{
    <SubnetEditor @bind-EditorVisible="@_subnetEditorVisible" Subnet="_editingSubnet" @bind-IsNewSubnet="@_isNewSubnet" SubnetSaved="@OnSubnetSaved"/>
}

@if (null != _editingIP)
{
    <IpEditor @bind-EditorVisible="@_ipEditorVisible" IpAddress="_editingIP" />
}
)

@code {
    List<Subnet> SubnetList = [];
    private bool _subnetEditorVisible = false;
    private bool _ipEditorVisible = false;
    private bool _isNewSubnet = false;
    private bool _advancedViewEnabled = true;

    private Subnet? _editingSubnet = null;
    private IP? _editingIP = null;

    async protected override Task OnInitializedAsync()
    {
        SubnetList = await SubnetService.GetAllAsync();
        await base.OnInitializedAsync();
        StateHasChanged();
    }

    private void OnClickEditSubnet(Subnet subnet)
    {
        _editingSubnet = subnet;
        _isNewSubnet = false;
        _subnetEditorVisible = true;
    }

    private void OnClickEditIP(IP ip)
    {
        _editingIP = ip;
        _ipEditorVisible = true;
    }

    private void OnClickNewSubnet()
    {
        _isNewSubnet = true;
        _editingSubnet = new Subnet("192.168.0.1/24");
        _subnetEditorVisible = true;
        StateHasChanged();
    }

    private void OnClickAdvancedToggle()
    {
        _advancedViewEnabled = !_advancedViewEnabled;
    }

    private async void OnSubnetSaved(Subnet subnet)
    {
        await Task.Delay(100);
        await OnInitializedAsync();
    }

    private async void OnDeleteSubnetClicked(bool clicked)
    {
        if (clicked)
        {
            await Task.Delay(100);
            await OnInitializedAsync();
        }
    }
}