@inject IMonitorTargetAPI MonitorTargetService

@if (EditorVisible)
{
    <div class="faded_background">
        <div class="subnet_editor" @key="_monitoringTargetContainer.GetType()">
            <header>
                <span>
                    <strong>
                        @if (IsNewContainer)
                        {
                            @if (_monitoringTargetContainer is DnsContainer dns)
                            {
                                @dns.DisplayName <strong>New!</strong>
                            }
                            else if (_monitoringTargetContainer is SubnetContainer subnet)
                            {
                                @IpMonitoringTarget.ConvertToString(subnet.Address) <strong>New!</strong>
                            }
                        }
                        else
                        {
                            @if (_monitoringTargetContainer is DnsContainer dns)
                            {
                                @dns.DisplayName
                            }
                            else if (_monitoringTargetContainer is SubnetContainer subnet)
                            {
                                @IpMonitoringTarget.ConvertToString(subnet.Address)
                            }
                        }
                    </strong>
                </span>
                <button id="cancelbutton" onclick="@OnClickCancel">
                    <span class="material-icons">cancel</span>
                </button>
            </header>
            <article>
                <table>
                    <tr>
                        <td>
                            Type:
                        </td>
                        <td>
                            @if (IsNewContainer)
                            {
                                <select @bind="_containerType" @bind:after="@OnTypeChanged">
                                    <option value="0">Subnet</option>
                                    <option value="1">DNS</option>
                                </select>
                            }
                            else
                            {
                                if (_monitoringTargetContainer is SubnetContainer)
                                {
                                    <span>Subnet</span>
                                }
                                else if (_monitoringTargetContainer is DnsContainer)
                                {
                                    <span>DNS</span>
                                }

                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (_monitoringTargetContainer is SubnetContainer) 
                            {
                                <span>Generate Subnet</span>
                            }
                            else if (_monitoringTargetContainer is DnsContainer)
                            {
                                <span>Display Name</span>
                            }
                        </td>
                    </tr>
                    <tr id="cidr">
                        <td colspan="10">
                            @if (_monitoringTargetContainer is SubnetContainer)
                            {
                                <input id="cidrinput" type="text" @bind="_address" @bind:event="oninput" @onkeydown="OnKeyDownCidrInput" placeholder="192.168.0.1/24" />
                                <button id="generatebutton" type="button" @onclick="OnClickCidrGenerate">
                                    <span class="material-icons">start</span>
                                </button>
                            }
                            else if (_monitoringTargetContainer is DnsContainer)
                            {
                                <input id="cidrinput" type="text" @bind="_address" @bind:event="oninput" @onkeydown="OnKeyDownCidrInput" placeholder="example.local" />
                            }
                        </td>
                    </tr>
                    <tr>
                        @if (_monitoringTargetContainer is SubnetContainer)
                        {
                            <td>
                                Start Address
                            </td>
                            <td>
                                End Address
                            </td>
                        }
                    </tr>
                    <tr>
                        @if (_monitoringTargetContainer is SubnetContainer container)
                        {
                            <td>
                                <input type="text" @bind="container.StartAddress" readonly="readonly" />
                            </td>
                            <td>
                                <input type="text" @bind="container.EndAddress" readonly="readonly" />
                            </td>
                        }
                    </tr>
                    <tr>
                        <td colspan="10">
                            <button id="iplist" onclick="@OnClickIpListExpand">
                                <span class="material-icons">list</span>
                                <span><strong>Children</strong></span>
                            </button>
                            <button onclick="@OnClickNewChild">
                                <span class="material-icons">add</span>
                            </button>
                        </td>
                    </tr>
                    @if (_monitoringTargetContainer.ChildCount > 0 && _targetListVisible)
                    {
                        <Virtualize Items="_monitoringTargetContainer.GetChildren().ToList()" TItem="BaseMonitoringTarget" Context="target">
                            <ItemContent>
                                <tr id="ip">
                                    <td colspan="10">
                                        <span>
                                            @if (target is DnsMonitoringTarget dnsTarget)
                                            {
                                                @dnsTarget.Address   
                                            }
                                            else if (target is IpMonitoringTarget ipTarget)
                                            {
                                                @IpMonitoringTarget.ConvertToString(ipTarget.Address)
                                            }
                                        </span>
                                        <span>@target.Hostname</span>
                                        <button id="deleteipbutton" onclick="@(() => OnClickDeleteTarget(target))">
                                            <span class="material-icons">delete</span>
                                        </button>
                                    </td>
                                </tr>
                            </ItemContent>
                        </Virtualize>
                    }
                </table>
            </article>
            <footer>
                <button id="savebutton" onclick="@OnClickSave">
                    <span class="material-icons">save</span>
                </button>
            </footer>
        </div>
    </div>

    @if (null != _newTarget)
    {
            <MonitoringTargetEditor MonitoringTarget="_newTarget" @bind-EditorVisible="@_targetEditorVisible"
                @bind-IsNewTarget="@_isNewTarget" OnTargetSaved="@OnChildAdded"/>
    }
}

@code {
    [Parameter] public required bool EditorVisible { get; set; }
    [Parameter] public required EventCallback<bool> EditorVisibleChanged { get; set; }

    [Parameter] public required bool IsNewContainer { get; set; }
    [Parameter] public required EventCallback<bool> IsNewContainerChanged { get; set; }
    [Parameter] public required EventCallback<BaseMonitoringTargetContainer> ContainerSaved { get; set; }

    [Parameter] public required BaseMonitoringTargetContainer MonitoringTargetContainer { get; set; }
    private BaseMonitoringTargetContainer _monitoringTargetContainer = new DnsContainer("");

    private string _address = string.Empty;
    private bool _targetListVisible = false;
    private bool _targetEditorVisible = false;
    private bool _isNewTarget = true;
    private BaseMonitoringTarget? _newTarget;
    private int _containerType = 1;

    override protected async Task OnParametersSetAsync()
    {
        if (MonitoringTargetContainer.Id != _monitoringTargetContainer.Id)
        {
            _monitoringTargetContainer = MonitoringTargetContainer;

            if (!IsNewContainer && _monitoringTargetContainer is SubnetContainer subnet)
            {
                try
                {
                    _address = SubnetContainer.GetCidrString(subnet);
                }
                catch { }
            }
            else
            {
                _address = string.Empty;
            }
        }

        await base.OnParametersSetAsync();
    }

    private void OnChildAdded(BaseMonitoringTarget target)
    {
        _monitoringTargetContainer.AddChild(target);
        _isNewTarget = false;
        StateHasChanged();
    }

    void OnClickNewChild()
    {
        if (_monitoringTargetContainer is SubnetContainer)
        {
            _newTarget = new IpMonitoringTarget(_monitoringTargetContainer);
        }
        else if (_monitoringTargetContainer is DnsContainer)
        {
            _newTarget = new DnsMonitoringTarget(_monitoringTargetContainer);
        }

        _isNewTarget = true;
        _targetEditorVisible = true;
        StateHasChanged();
    }

    void OnClickCancel()
    {
        EditorVisibleChanged.InvokeAsync(false);
        EditorVisible = false;
        _targetEditorVisible = false;
    }

    void OnClickCidrGenerate()
    {
        _monitoringTargetContainer = new SubnetContainer(_address);
        _targetListVisible = false;
        StateHasChanged();
    }

    void OnClickIpListExpand()
    {
        _targetListVisible = !_targetListVisible;
    }

    async Task OnClickDeleteTarget(BaseMonitoringTarget target)
    {
        if (target is IpMonitoringTarget ip)
        {
            await MonitorTargetService.DeleteIpTargetAsync(ip);
        }
        else if (target is DnsMonitoringTarget dns)
        {
            await MonitorTargetService.DeleteDnsTargetAsync(dns);
        }

        _monitoringTargetContainer.RemoveChild(target);
        StateHasChanged();
    }

    async void OnClickSave()
    {
        if (IsNewContainer)
        {
            if (_monitoringTargetContainer is DnsContainer dns)
            {
                dns.DisplayName = _address;
                await MonitorTargetService.AddDnsContainerAsync(dns);
            }
            else if (_monitoringTargetContainer is SubnetContainer subnet)
            {
                await MonitorTargetService.AddSubnetContainerAsync(subnet);
            }
        }
        else
        {
            if (_monitoringTargetContainer is DnsContainer dns)
            {
                dns.DisplayName = _address;
                await MonitorTargetService.UpdateDnsContainerAsync(dns);
            }
            else if (_monitoringTargetContainer is SubnetContainer subnet)
            {
                await MonitorTargetService.UpdateSubnetContainerAsync(subnet);
            }
        }

        _address = string.Empty;
        await EditorVisibleChanged.InvokeAsync(false);
        await ContainerSaved.InvokeAsync(_monitoringTargetContainer);
    }

    private async Task OnKeyDownCidrInput(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            OnClickCidrGenerate();
        }
    }

    private void OnTypeChanged()
    {
        switch(_containerType) {
            case 0:
                _monitoringTargetContainer = new SubnetContainer("127.0.0.1/24", true);
                StateHasChanged();
                break;
            case 1:
                _monitoringTargetContainer = new DnsContainer(string.Empty);
                StateHasChanged();
                break;
        }
    }
}
