@inject IMonitorTargetAPI MonitorTargetService

@if (Visible)
{
    <div class="faded_background">
        <div class="popup_back" id="ip_view">
            <header>
                <button id="editbutton" onclick="@OnClickEdit">
                    <span class="material-icons">edit</span>
                </button>
                <button id="closebutton" onclick="@OnClickCancel">
                    <span class="material-icons">cancel</span>
                </button>
            </header>
            <article>
                <table>
                    <tr>
                        <td>
                            Address:
                        </td>
                        <td>
                            @if (_monitoringTarget is IpMonitoringTarget ip)
                            {
                                @IpMonitoringTarget.ConvertToString(ip.Address)
                            }
                            else if (_monitoringTarget is DnsMonitoringTarget dns)
                            {
                                @dns.Address
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hostname:
                        </td>
                        <td>
                            @_monitoringTarget.Hostname
                        </td>
                    </tr>
                    @if (_parent != null)
                    {
                        <tr>
                            @if (_parent is DnsContainer dns)
                            {
                                <td>
                                    Parent DNS Container:
                                </td>
                                <td>
                                    @dns.
                                </td>
                            }
                            else if (_parent is SubnetContainer subnet)
                            {
                                <td>
                                    Parent Subnet:
                                </td>
                                <td>
                                    @IpMonitoringTarget.ConvertToString(subnet.Address) : @IpMonitoringTarget.ConvertToString(subnet.SubnetMask)
                                </td>
                            }
                        </tr>
                    }
                </table>
            </article>
        </div>
    </div>
}



@code {
    [Parameter] public required BaseMonitoringTarget MonitoringTarget { get; set; }
    private BaseMonitoringTarget _monitoringTarget = new IpMonitoringTarget();

    [Parameter] public required bool Visible { get; set; }
    [Parameter] public required EventCallback<bool> VisibleChanged { get; set; }
    [Parameter] public required EventCallback<BaseMonitoringTarget> EditClicked { get; set; }

    private BaseMonitoringTargetContainer? _parent;

    protected override async Task OnParametersSetAsync()
    {
        if (_monitoringTarget.Id != MonitoringTarget.Id)
        {
            _monitoringTarget = MonitoringTarget;

            if (null == _monitoringTarget.Parent)
            {
                if (_monitoringTarget is DnsMonitoringTarget dns)
                {
                    _parent = await MonitorTargetService.GetDnsContainerByIdAsync(dns.ParentId);
                }
                else if (_monitoringTarget is IpMonitoringTarget ip)
                {
                    _parent = await MonitorTargetService.GetSubnetContainerByIdAsync(ip.ParentId);
                }
            }
            else
            {
                _parent = _monitoringTarget.Parent;
            }
        }

        await base.OnParametersSetAsync();
    }

    private async void OnClickCancel()
    {
        await VisibleChanged.InvokeAsync(false);
        Visible = false;
    }

    private async void OnClickEdit()
    {
        await VisibleChanged.InvokeAsync(false);
        Visible = false;
        await EditClicked.InvokeAsync(_monitoringTarget);
    }
}
