@inject IMonitorTargetAPI MonitorTargetService

<tr class="ip_row" @onclick="@OnClickEditIp">
    <td>
        @if (_monitoringTarget is IpMonitoringTarget ip)
        {
            @IpMonitoringTarget.ConvertToString(ip.Address)
        }
        else if (_monitoringTarget is DnsMonitoringTarget dns)
        {
            @dns.Address
        }
    </td>
    <td>
        @_monitoringTarget.Hostname
    </td>
    @if (AdvancedViewEnabled)
    {
        <td>
            @_monitoringTarget.IsMonitoredIcmp
        </td>
        <td>
            @_monitoringTarget.IsMonitoredTcp
        </td>
        <td>
            @_portsMonitoredString
        </td>
    }
    <td>
        <div>
            <button id="deletebutton" @onclick="@OnClickDelete" @onclick:stopPropagation="true">
                <span class="material-icons">delete</span>
            </button>
        </div>
    </td>
</tr>

@code {
    [Parameter] public required BaseMonitoringTarget MonitoringTarget { get; set; }
    private BaseMonitoringTarget _monitoringTarget = new IpMonitoringTarget();

    [Parameter] public bool AdvancedViewEnabled { get; set; }
    [Parameter] public EventCallback<bool> AdvancedViewEnabledChanged { get; set; }

    [Parameter] public EventCallback<BaseMonitoringTarget> OnEditTarget { get; set; }
    [Parameter] public EventCallback<bool> OnDeleteTarget { get; set; }

    private string _portsMonitoredString = string.Empty;

    protected override void OnParametersSet()
    {
        if (_monitoringTarget.Id != MonitoringTarget.Id)
        {
            _monitoringTarget = MonitoringTarget;

            if (_monitoringTarget.TcpPortsMonitored.Count > 0)
            {
                _portsMonitoredString = string.Join(",", _monitoringTarget.TcpPortsMonitored);
            }
            else
            {
                _portsMonitoredString = string.Empty;
            }
        }

        base.OnParametersSet();
    }

    private void OnClickEditIp()
    {
        OnEditTarget.InvokeAsync(_monitoringTarget);
    }

    private async void OnClickDelete()
    {
        if (_monitoringTarget is DnsMonitoringTarget dns)
        {
            await MonitorTargetService.DeleteDnsTargetAsync(dns);
        }
        else if (_monitoringTarget is IpMonitoringTarget ip)
        {
            await MonitorTargetService.DeleteIpTargetAsync(ip);
        }

        await OnDeleteTarget.InvokeAsync(true);
    }
}
