@inject IMonitorTargetAPI MonitorTargetService
@inject IJSRuntime JSRuntime

<tr id=@($"subcard-{_monitoringTargetContainer.Id}") class="subnet_card" @onclick="@OnClickSubnetCard">
    @if (_monitoringTargetContainer is DnsContainer dns)
    {
        <td></td>
        <td>@dns.DisplayName</td>
        <td></td>
    }
    else if (_monitoringTargetContainer is SubnetContainer subnetTitle)
    {
        <td>
            @IpMonitoringTarget.ConvertToString(subnetTitle.Address)
        </td>
        <td>
            @IpMonitoringTarget.ConvertToString(subnetTitle.StartAddress)
        </td>
        <td>
            @IpMonitoringTarget.ConvertToString(subnetTitle.EndAddress)
        </td>
    }

    <td>
        <div>
            <input type="text" @bind="_searchString" @bind:event="oninput" @onkeydown="OnKeyDownInSubnetInput" @onclick:stopPropagation="true" />
            <button type="button" @onclick="OnClickSearch" @onclick:stopPropagation="true">
                <span class="material-icons">search</span>
            </button>
        </div>
    </td>
    <td>
        <div>
            <button @onclick="@OnClickExpand" id="iplistbtn" @onclick:stopPropagation="true">
                <span class="material-icons" title="Expand IP List">list</span>
            </button>
            <button id="editbutton" @onclick="@OnClickEditSubnet" @onclick:stopPropagation="true">
                <span class="material-icons" title="Edit Subnet Information">edit</span>
            </button>
            <button id="deletebutton" @onclick="@OnClickDelete" @onclick:stopPropagation="true">
                <span class="material-icons" title="Delete Subnet">delete</span>
            </button>
            @if (_monitoringTargetContainer is SubnetContainer subnet)
            {
                <button id="discoverbutton" @onclick="@OnClickDiscovery" @onclick:stopPropagation="true">
                    <span class="material-icons" title="Rediscover Subnet">refresh</span>
                </button>
            }
        </div>
    </td>
</tr>
@if (_targetListVisible)
{
    <tr class="ip_layout">
        <td colspan="10">
            <table>
                <tr>
                    <th>Address</th>
                    <th>Hostname</th>
                    @if (AdvancedViewEnabled)
                    {
                        <th>Monitored (ICMP)</th>
                        <th>Monitored (TCP)</th>
                        <th>Monitored Ports</th>
                    }
                    <th />
                </tr>
                @if (null != _targetList && _targetList.Count > 0)
                {
                    <Virtualize Items="@_targetList" Context="context">
                        <MonitoringTargetRow MonitoringTarget="@context" @bind-AdvancedViewEnabled="AdvancedViewEnabled" OnEditTarget="@OnEditTarget" OnDeleteTarget="@OnClickDelete" />
                    </Virtualize>
                }
            </table>
        </td>
    </tr>
}

@code {
    [Parameter] public required BaseMonitoringTargetContainer MonitoringTargetContainer { get; set; }
    private BaseMonitoringTargetContainer _monitoringTargetContainer = new DnsContainer("");

    [Parameter] public bool AdvancedViewEnabled { get; set; }
    [Parameter] public EventCallback<bool> AdvancedViewEnabledChanged { get; set; }

    [Parameter] public EventCallback<BaseMonitoringTarget> OnEditTarget { get; set; }
    [Parameter] public EventCallback<bool> OnDeleteTarget { get; set; }
    [Parameter] public EventCallback<BaseMonitoringTargetContainer> OnEditTargetContainer { get; set; }
    [Parameter] public EventCallback<bool> OnDeleteClicked { get; set;  }

    private List<BaseMonitoringTarget> _targetList = [];
    private bool _targetListVisible { get; set; } = false;
    private string _searchString = string.Empty;

    protected override Task OnParametersSetAsync()
    {
        if (MonitoringTargetContainer.Id != _monitoringTargetContainer.Id)
        {
            _monitoringTargetContainer = MonitoringTargetContainer;
            _targetList = _monitoringTargetContainer.GetChildren().ToList();
        }

        return base.OnParametersSetAsync();
    }

    private void OnClickExpand()
    {
        _targetListVisible = !_targetListVisible;
        StateHasChanged();
    }

    private void OnClickEditSubnet()
    {
        OnEditTargetContainer.InvokeAsync(_monitoringTargetContainer);
    }

    private async Task OnClickSearch()
    {
        if (string.IsNullOrEmpty(_searchString))
        {
            _targetList = _monitoringTargetContainer.GetChildren().ToList();
        }
        else
        {
            if (_monitoringTargetContainer is DnsContainer dns)
            {
                _targetList = (dns.Children ?? [])
                                .Where(x => x.Address.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
                                .Cast<BaseMonitoringTarget>()
                                .ToList();
            }
            else if (_monitoringTargetContainer is SubnetContainer subnet)
            {
                _targetList = (subnet.Children ?? [])
                    .Where(x => IpMonitoringTarget.ConvertToString(x.Address).Contains(_searchString, StringComparison.OrdinalIgnoreCase) ||
                                (x.Hostname != null && x.Hostname.Contains(_searchString, StringComparison.OrdinalIgnoreCase)))
                    .Cast<BaseMonitoringTarget>()
                    .ToList();
            }
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task OnClickDiscovery()
    {
        if (_monitoringTargetContainer is SubnetContainer subnet)
        {
            await MonitorTargetService.RunDiscoveryTaskAsync(subnet);
        }
    }

    private async Task OnClickDelete()
    {
        if (_monitoringTargetContainer is SubnetContainer subnet)
        {
            await MonitorTargetService.DeleteSubnetContainerAsync(subnet);
        }
        else if (_monitoringTargetContainer is DnsContainer dns)
        {
            await MonitorTargetService.DeleteDnsContainerAsync(dns);
        }

        await OnDeleteClicked.InvokeAsync(true);
    }

    private async Task OnKeyDownInSubnetInput(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await OnClickSearch();
        }
    }

    private async Task OnClickSubnetCard()
    {
        _targetListVisible = !_targetListVisible;
        StateHasChanged();
        await JSRuntime.InvokeVoidAsync("shakeonclick", _monitoringTargetContainer.Id);
    }

    private async Task OnClickDeleteTarget()
    {
        await OnDeleteTarget.InvokeAsync(true);
    }
}
