@inject IDashAPI DashboardService
@inject IMonitoringAPI MonitoringService

@if (!Hidden)
{
    <div class="faded_background">
        <div class="dashboard_card_editor">
            <article>
                <header>
                    <p>@_dashboardItem.Id</p>
                </header>
                <content>
                    <table>
                        @if (_dashboardItem is DirectoryItem directory)
                        {
                            if (null != directory.Icon && string.Empty != directory.Icon)
                            {
                                <tr>
                                    <td>
                                        <img src="@directory.Icon" />
                                        <button id="deleteiconbutton" onclick="@OnClickDeleteIcon">
                                            <span class="material-icons">delete</span>
                                        </button>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <div class="upload_item_box">
                                            <label for="upload_new_pic">
                                                <span class="material-icons" style="margin: auto;">add</span>
                                            </label>

                                            <InputFile onchange="@(args => OnUploadItem(args))" id="upload_new_pic" style="width: 0%; height: 0; overflow: hidden;" accept="*.png, *.jpg, *.jpeg" />
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else if (_dashboardItem is ShortcutItem shortItem)
                        {
                            if (null != shortItem.Icon && string.Empty != shortItem.Icon)
                            {
                                <tr>
                                    <td>
                                        <img src="@shortItem.Icon" />
                                        <button id="deleteiconbutton" onclick="@OnClickDeleteIcon">
                                            <span class="material-icons">delete</span>
                                        </button>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <div class="upload_item_box">
                                            <label for="upload_new_pic">
                                                <span class="material-icons" style="margin: auto;">add</span>
                                            </label>

                                            <InputFile onchange="@(args => OnUploadItem(args))" id="upload_new_pic" style="width: 0%; height: 0; overflow: hidden;" accept="*.png, *.jpg, *.jpeg" />
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td>
                                <input type="radio" name="itemtype" checked="@(_dashboardItem.Type == DashboardItemBase.DashboardItemType.Directory)" @onchange="@(() => OnChangeItemType(DashboardItemBase.DashboardItemType.Directory))" />
                                Folder
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" name="itemtype" checked="@(_dashboardItem.Type == DashboardItemBase.DashboardItemType.Shortcut)" @onchange="@(() => OnChangeItemType(DashboardItemBase.DashboardItemType.Shortcut))" />
                                Shortcut
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" name="itemtype" checked="@(_dashboardItem.Type == DashboardItemBase.DashboardItemType.Widget)" @onchange="@(() => OnChangeItemType(DashboardItemBase.DashboardItemType.Widget))" />
                                Widget
                            </td>
                        </tr>
                        @if (_dashboardItem.Type == DashboardItemBase.DashboardItemType.Widget)
                        {
                            <tr>
                                <td>
                                    <select @bind="@_widgetType" @bind:after="@(() => OnDeviceWidgetChange())">
                                        @foreach (var value in Enum.GetValues<WidgetItem.WidgetType>())
                                        {
                                            <option value="@value">@GetWidgetTypeAsString(value)</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            @if (_dashboardItem is DeviceStatusWidget deviceStatusWidget)
                            {
                                <tr>
                                    <td>
                                        <select @bind="@deviceStatusWidget.IP_ID">
                                            @foreach (var ip in ips)
                                            {
                                                <option value="@ip.ID">@IP.ConvertToString(ip.Address)</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td>
                                @if (_dashboardItem.Type == DashboardItemBase.DashboardItemType.Widget)
                                {
                                    <input type="text" @bind="@_dashboardItem.DisplayName" readonly="readonly" />
                                }
                                else
                                {
                                    <input type="text" @bind="@_dashboardItem.DisplayName" />
                                }
                            </td>
                        </tr>
                        @if (_dashboardItem is ShortcutItem shortcut)
                        {
                            <tr>
                                <td>
                                    <input type="text" @bind="@shortcut.Url" />
                                    <span class="material-icons">add_link</span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <select @bind="@_selectedDirectory" @bind:after="() => OnDirectoryChanged()">
                                        <option value="">No Folder</option>
                                        @if (Directories != null)
                                        {
                                            foreach (var item in Directories)
                                            {
                                                <option value="@item.Id">@item.DisplayName</option>
                                            }
                                        }
                                    </select>
                                    <span class="material-icons">folder</span>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                @if (_dashboardItem.Type == DashboardItemBase.DashboardItemType.Widget)
                                {
                                    <textarea @bind="@_dashboardItem.Description" readonly="readonly" />
                                }
                                else
                                {
                                    <textarea @bind="@_dashboardItem.Description" />
                                }
                            </td>
                        </tr>
                    </table>
                </content>
                <footer>
                    <button id="savebutton" onclick="@OnClickSaveItem">
                        <span class="material-icons">save</span>
                    </button>
                    @if (!IsNewItem)
                    {
                        <button id="deleteitembutton" onclick="@OnClickDeleteItem">
                            <span class="material-icons">delete</span>
                        </button>
                    }
                    <button id="cancelbutton" onclick="@OnClickCancel">
                        <span class="material-icons">cancel</span>
                    </button>
                </footer>
            </article>
        </div>
    </div>
} 

@code {
    [Parameter] public required bool Hidden { get; set; }
    [Parameter] public EventCallback<bool> HiddenChanged { get; set; }
    [Parameter] public EventCallback<bool> EditorClosed { get; set; }
    [Parameter] public bool IsNewItem { get; set; } = false;

    [Parameter] public DirectoryItem? ParentDirectory { get; set; }
    [Parameter] public List<DirectoryItem>? Directories { get; set; }
    private string _selectedDirectory = string.Empty;

    [Parameter] public required DashboardItemBase Item { get; set; }
    private DashboardItemBase _dashboardItem;
    private List<IP> ips = [];

    private WidgetItem.WidgetType _widgetType = WidgetItem.WidgetType.Clock;

    protected override async Task OnParametersSetAsync()
    {
        _dashboardItem = Item;
        ips = await MonitoringService.GetMonitoredIpsAsync();

        if (Item is ShortcutItem shortcut)
        {
            if (shortcut.Parent != null)
            {
                _selectedDirectory = shortcut.Parent.Id.ToString();
            }
            else
            {
                _selectedDirectory = string.Empty;
            }

            _widgetType = WidgetItem.WidgetType.Clock;
        }
        else if (Item is WidgetItem widget)
        {
            _selectedDirectory = string.Empty;
            _widgetType = widget.TypeOfWidget;
        }
        else
        {
            _widgetType = WidgetItem.WidgetType.Clock;
            _selectedDirectory = string.Empty;
        }
    }

    private async Task<string> PictureToBase64String(InputFileChangeEventArgs eventArgs)
    {
        using var memoryStream = new MemoryStream();
        await eventArgs.File.OpenReadStream(10000000).CopyToAsync(memoryStream);
        var bytes = memoryStream.ToArray();
        var base64 = Convert.ToBase64String(bytes);

        return $"data:{eventArgs.File.ContentType};base64,{base64}";
    }

    private async Task OnUploadItem(InputFileChangeEventArgs e)
    {
        if (_dashboardItem is ShortcutItem shortcut)
        {
            shortcut.Icon = await PictureToBase64String(e);
        }
        else if (_dashboardItem is DirectoryItem directory)
        {
            directory.Icon = await PictureToBase64String(e);
        }
    }

    private void OnChangeItemType(DashboardItemBase.DashboardItemType type)
    {
        string? icon = null;

        if (_dashboardItem is ShortcutItem shortcut)
        {
            icon = shortcut.Icon ?? null;
        }
        else if (_dashboardItem is DirectoryItem directory)
        {
            icon = directory.Icon ?? null;
        }

        if (type == DashboardItemBase.DashboardItemType.Shortcut)
        {
            _dashboardItem = new ShortcutItem()
            {
                Id = _dashboardItem.Id,
                DisplayName = string.Empty,
                Description = string.Empty,
                Url = "https://example.com",
                Icon = icon
            };
        }
        else if (type == DashboardItemBase.DashboardItemType.Directory)
        {
            _dashboardItem = new DirectoryItem()
            {
                Id = _dashboardItem.Id,
                DisplayName = string.Empty,
                Description = string.Empty,
                Children = [],
                Icon = icon
            };
        }
        else if (type == DashboardItemBase.DashboardItemType.Widget)
        {
            _dashboardItem = new ClockWidget();
        }
    }

    private void OnDirectoryChanged()
    {
        if (string.IsNullOrWhiteSpace(_selectedDirectory))
        {
            if (_dashboardItem is ShortcutItem s)
            {
                s.Parent = null;
            }

            return;
        }

        if (!Guid.TryParse(_selectedDirectory, out var result))
        {
            if (_dashboardItem is ShortcutItem s)
            {
                s.Parent = null;
            }

            return;
        }

        if (Directories == null) return;

        if (_dashboardItem is ShortcutItem shortcut)
        {
            var selectedObj = Directories.FirstOrDefault(x => x.Id == result);
            shortcut.Parent = selectedObj;
        }
    }

    private void OnClickDeleteIcon()
    {
        if (_dashboardItem is ShortcutItem shortcut)
        {
            shortcut.Icon = null;
        }
        else if (_dashboardItem is DirectoryItem directory)
        {
            directory.Icon = null;
        }
    }

    private async void OnClickDeleteItem()
    {
        await DashboardService.DeleteItemAsync(Item);

        await EditorClosed.InvokeAsync(true);
        await HiddenChanged.InvokeAsync(true);
    }

    private async void OnClickSaveItem()
    {
        if (IsNewItem || _dashboardItem is WidgetItem)
        {
            if (Item is WidgetItem)
            {
                await DashboardService.DeleteItemAsync(Item);
            }
            await DashboardService.SaveItemAsync(_dashboardItem);
        }
        else
        {
            await DashboardService.EditItemAsync(_dashboardItem);
        }


        await EditorClosed.InvokeAsync(true);
        await HiddenChanged.InvokeAsync(true);
    }

    private async void OnClickCancel()
    {
        await EditorClosed.InvokeAsync(false);
        await HiddenChanged.InvokeAsync(true);
        Hidden = true;
    }

    private string GetWidgetTypeAsString(WidgetItem.WidgetType type)
    {
        if (type == WidgetItem.WidgetType.Clock)
        {
            return "Clock";
        }
        else if (type == WidgetItem.WidgetType.DeviceStatus)
        {
            return "Device Status";
        }
        else
        {
            return "Unknown Widget";
        }
    }

    private void OnDeviceWidgetChange()
    {
        if (_widgetType == WidgetItem.WidgetType.Clock) 
        {
            _dashboardItem = new ClockWidget();
        }
        else if (_widgetType == WidgetItem.WidgetType.DeviceStatus)
        {
            _dashboardItem = new DeviceStatusWidget();
        }

        StateHasChanged();
    }
}
